@import '../../styles/base/settings';

#background {
  z-index: 1;
  height: 100vh;
}


#addPaperModelId{
  max-width: 50%;
}

@media(max-width:870px){
  #addPaperModelId{
    max-width: 75%;
  }
}
@media(max-width:576px){
  #addPaperModelId{
    max-width: 100%;
  }
}
