.textColorWhite{
    color:white; 
}

.uploadedImagePreviewDiv:hover .svg{
        display:inline-block !important;
}
.uploadedImagePreviewDiv:hover .uploadStateText{
        display:flex !important;
}

.uploadedImagePreviewDiv:hover .uploadedImagePreviewImg{
    filter: brightness(0.4);
}
.fileUploadIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:3;
    transform: translate(-50%, -50%);
    text-align: center;
}
    

.uploadedImagePreviewDiv{
    position: relative;
    border:1px solid grey;
    border-radius:15px;
    min-height:30vh;
}
.uploadedImagePreviewImg{
   border-radius:15px;
   transition:all .2s; 
}

.svg{
    font-size: 4.5rem !important; 
    z-index:2;
}
.uploadStateText{
    z-index:2;
}
.dragAndDrop{
    position: absolute;
    top:0;
    left:0; 
}
.fileUploadInput{
    z-index:4;
    height:100%;
    width:100%;
    cursor: pointer;
    color: transparent;
}
