@import 'src/styles/base/settings';

.closeIconPlacement {
  position: absolute;
  right: 0;
  top: 0;
}

.cross {
  cursor: pointer;
  width: 0.5rem;
  color: $black;
}

.divWidth {
  width: 90%;
  border-bottom: $thin-border solid $logo-blue;
}

#acceptSubmitButton {
  background-color: $white;
  color: $black;
  border: 1px solid $light-logo-blue;
  cursor: pointer;
  box-shadow: none;
  text-transform: capitalize;
}

#rejectSubmitButton {
  background-color: $white;
  color: $black;
  border: 1px solid $light-logo-blue;
  cursor: pointer;
  box-shadow: none;
  text-transform: capitalize;
}
