@import '../../../../../../../../../styles/base/settings';

.AddQuaction{
  border-left: 3px solid #11975e;
  border-radius: 10px;
  border-right: 2px solid #11975e;
  border-bottom: 2px solid #11975e;
  border-top: 2px solid #11975e;
  display: flex;
  flex-direction: column;
}
.QuactionTxt{
  font-size: 1.1rem;
  font-weight: bold;
}
.addedImagePreview{
  width: 70%;
  outline: #80808082 solid 1px;
  margin-left: auto;
  margin-right: auto;
}

.QuactionRow{
  display:flex;
  align-items:center;
}


.input{
  padding-bottom: 1rem !important;
}








.answerLine{
  width:95%;
  border-bottom:2px solid grey;
}