@import '../../../styles/base/settings';

.closeIconPlacement {
  position: absolute;
  right: 0;
  top: 0;
}

.cross {
  cursor: pointer;
  width: 0.1rem;
  color: $black;
}
.divWidth {
  width: 90%;
}

.modalHeader {
  background-color: $light-gray;
  color: $black;
  font-weight: bold;
}

.buttonBorder {
  border-radius: 0.3125rem;
}
