@import '../../../../../styles/base/settings';

#background {
  z-index: 1;
}

.AddQuactionBtn{
  border:1px solid #11975e !important;
  color: #11975e !important;
  background-color:transparent !important;   
  font-size: 0.9rem !important;
}
.submitBtn{
  font-size: 0.9rem !important;
}

