.mainWrapper {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.bgWrapper {
  min-height: 100vh;
}

#background {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background:linear-gradient(35deg, #12a85a 0, #0b247a 100%) !important;
}

#foreground {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

#formContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 50vh;
  height: 50%;
}

.titleText {
  font-size: 1.5rem;
}

#form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
