@import './settings';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600,800&display=swap');
.Toastify__toast {
  padding-left: 2rem;
}

.Toastify__toast--default {
  color: $black;
  font-weight: bold;
}

.full-width-item {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.Toastify__toast--error {
  color: $error;
  font-weight: bold;
  background: $white;
}

.text-color {
  color: $white;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.react-tel-input .form-control {
  width: 5rem;
  height: 2.6875rem;
}

.react-tel-input {
  width: 26%;
}

// override plugin
.MuiFilledInput-input {
  padding: 6px 12px 6px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $light-gray-variant;
  color: $black;
  cursor: pointer;
}

.nav-pills .nav-link {
  color: $black;
}

.nav-pills .nav-link:hover {
  color: $black;
  cursor: pointer;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

html body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 100 !important;
}

.font-color-black {
  color: $black;
}

.paragraph-bold {
  font-weight: bold;
}

.btn-outline-secondary {
  color: $black !important;
}

.dropdownIconStyle {
  color: $black;
  font-size: 2rem;
}

.dropdown-menu-remove-shadow {
  box-shadow: none;
  border-radius: 0;
}

.btn-outline-secondary:hover {
  color: $medium-gray !important;
}

// Remove shadow and update the border radius of input
.input-perfect-square {
  box-shadow: none;
  border-radius: 0;
}

// remove shadow and add border to check box
.custom-input:before,
.custom-input:after {
  box-shadow: none;
  border: #000 1px solid;
  border-radius: 0;
}

// Dropdown menu buttons styles
.dropdown-button-active:active {
  background-color: #fff;
}

.dropdown-button-active:focus {
  outline: none;
}

// Admin panel dropdown styles
.alternate-dropdown-styles {
  box-shadow: none;
  border-radius: 0;
}

.dropdown-menu a.media p {
  color: $black !important;
}

.dropdown-menu a.media:hover .heading,
.dropdown-menu a.media:hover p {
  color: $medium-gray !important;
}

.dropdown-item:hover {
  color: $medium-gray !important;
}

.nav-link-inner--text {
  margin-left: 0.25rem;
  color: black !important;
  font-weight: 600;
}

@media (min-width: 200px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}

.page-item.active .page-link {
  z-index: 1;
  background-color: $medium-gray;
  border-color: $medium-gray;
}

.react-calendar__month-view__days__day--weekend {
  color: $black !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus,
.react-calendar__tile--now {
  background: $light-blue;
  color: $dark-purple !important;
}
.element.style {
  display: block;
  border: 0px;
  margin: 5px;
  padding: 0px;
  text-transform: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: -6px;
  right: -6px;
  width: 30px;
  height: 30px;
}
.gm-style .gm-style-iw-c {
  padding-top: 1.5rem !important;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.01rem;
}
.gm-ui-hover-effect {
  top: 0rem !important;
  right: 0.1rem !important;
  opacity: 0.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

@media only screen and (max-width: 450px) {
  .react-tel-input {
    width: 30%;
  }
  .main-wrapper {
    padding: 0;
    margin: 0;
  }
}

// added

.display-flex{
  display:flex;
}
.display-none{
  display:none !important;
}
.opacity-0{
  opacity:0;
}
.align-items-center{
  align-items:center;
}
.w-20{
  width:20%;
}
.flex-1{
  flex:1;
}
.flex-0-5{
  flex:0.5;
}
.flex-0-3{
  flex:0.3;
}
.border-radius-15{
  border-radius:15px;
}


.background-primary {
  background-color:#11975e;
  &:hover{
    background-color:#11975e;
  }
  &:active{
    background-color:#11975e;
  }
  &:focus{
    background-color:#11975e;
  }
}

.text-color-primary {
  color:#11975e;
}